/*Body Visuals*/
body {
    background-image: url(/img/leaf-back-home.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(27, 207, 147);
    color: darkslategray;
}

/* header container */
header {
    background-color: rgb(170, 125, 74);
    color: rgb(243, 141, 141);
    align-content: center;
    align-items: center;
        
}

/* main logo */
.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 20px;
    width: 100%;
    height: 200px;
    object-fit: contain
  
}
/*Nav-Bar-Container*/
#nav-con {
    padding: 0.5%;
    text-decoration: none;


}
/*Nav-Buttons*/
#nav-btn {
    width: 130px;
    background-color: rgb(174, 224, 72);
    color: white;
    font-weight: bold;
    text-decoration: none;
          
}

/* Main content */
main {
    background-color: rgb(250, 192, 100);
    color: rgb(255, 255, 255);
    max-width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;

}
/*Project Images in every page*/
#global-pages-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Footer container*/
footer {
    background-color:  rgb(170, 125, 74);
    color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    padding: 2%;
     
}

/*Buttons Index*/
.start-quiz-btn {
    text-decoration: none;
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(174, 224, 72);
    color: white;
    font-weight: bold;
       
}

/*NAVBAR HEADER*/
.topnav {
    color: green;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
/*Video in Header*/
#myVideo {
    object-fit: contain;
    object-fit: cover;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    
}

